/* CSS Document */
header h1 img {
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    width: 70%;
    height: auto;
}
nav ul li a {
    display: block;
    color: #404040;
    font-size: 1.8rem;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
}
#main_image {
    border-top: 1px solid #7e6b5a;
    border-bottom: 1px solid #7e6b5a;
}
#main_image img{
    width: 100%;
    height: auto;
    display: block;
}
#news {
    width: 95%;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    background-color: #eeeeee;
    padding: 10px;
}
#news h2 {
    font-size: 1.4rem;
    line-height: 200%;
}
#news dl {
    margin-left: 2rem;
    line-height: 200%;
}
#news dl dt, #news dl dd {
    font-size: 1.2rem;
}
#news dl dd {
    padding-left: 1em;
}

aside ul {
    width: 95%;
    display:flex;
    margin-top: 10px;
    margin-right: auto;  
    margin-bottom: 10px;
    margin-left: auto;
    justify-content: space-between;
}
aside ul li {
    flex-basis: 48%;
}
aside ul li img {
	width: 100%;
	height: auto;
	border: 1px solid #000000;
}
main {
    width: 95%;
    nargin-top:0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
main section{
    display: flex;
    align-items: center;
}
main section h3 ,main section img{
    flex-basis: 50%;
    height: auto;
}
main section:first-child {
    background-color: #9b1d1d;
}
main section:nth-of-type(2) {
    background-color: #774c35;
}
main section:nth-of-type(3) {
    background-color: #7e3d14;
}
main section img {
    max-width: 50%;
}
main section h3 {
    padding-left: 1em;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 150%;
}
footer {
    padding-top: 1em;
    padding-right: 0;
    padding-bottom: 1em;
    padding-left:0;
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    background-color: #3a231e;
}


/*タブレット用*/
@media screen and (min-width:768px){
header h1 img {
    width: 45%;
}
nav ul li {
    width: 19%;
    display: inline-block;
    padding-top: 1em;
    padding-bottom: 1em;
    border-left: 1px solid #000000;
}
nav ul li:first-child{
    border-left-style: none;   
    }
#main_image{
     margin-top: 10px;   
    }
#news {
    width: 64%;
    margin-left: 2%;
    float: left;
}
#news h2 {
    font-size: 1.6rem;
}
#news dl{
        margin-left: 3.2rem;
}
#news dl dt,#news dl dd{
      font-size: 1.4rem;  
}   
#news dl dd{
       padding-left: 1em; 
} 
aside {
    width: 30%;
    margin-right: 2%;
    float: right;
}
aside ul {
    width: 100%;
    display: block;
}
aside ul li:first-child {
    display: block;
    margin-bottom: 5px;
}
main {
    width: 96%;
    display: flex;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    clear:both;
    justify-content: space-between;
}
main section {
    width: 32%;
    display: block;
}
main section h3 ,main section img{
    max-width: 100%;
}
main section h3 {
    padding: 1px;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
}
.sp_br {
    display: none;
}


}
/*デスクトップ用*/
@media screen and (min-width:1024px){
header,#main_image img,#contens,main{
    width: 976px;
    margin-top:0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}
header h1 img {
    margin-top: 40px;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 30px;
}
nav ul li {
    width: 192px;
}
nav ul li:first-child {
    border-left: 1px solid #000000;
}
nav ul li:last-child {
    border-right: 1px solid #000000;
}
#main_image {
    width: 100%;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(237,238,222,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(237,238,222,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(237,238,222,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(237,238,222,1.00) 100%);
}

#news {
    width: 644px;
    height: 200px;
    margin-left:0;
}
aside {
    width: 310px;
    margin-righet:0;
}    
}
